:root {
  /* --color-back: linear-gradient(#79d4ea, #2d7354); */
  --color-back: #ffffff;
  --color-txt: #ffffff;
  /* --color-title: #d89b3d;   #c49040*/
  --color-title: #b23850;

  --color-btn-txt: #ffffff;
  --color-btn-back: #0e6866;
  --color-btn-back-hover: #1fa7a4;

  --color-border: #d9d9d9;
  --color-txt-alt: #075826;
  --color-txt-focus: #a1f1ef;
  --color-txt-err: #b95555;
  --color-txt-grey: #555555;
  --color-txt-lightgrey: #cec8c8;

  --color-modal: #116466;
  --color-modal-back: #75bab6;
  --color-modal-title: #dccfa1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-txt);
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  background: var(--color-back);
  color: var(--color-txt);
}

.container {
  max-width: 1440px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

h1 {
  font-size: 2.3rem;
  line-height: 150%;
  letter-spacing: 0.18rem;
  color: var(--color-title);
  text-transform: capitalize;
}

.btn {
  min-width: 120px;
  margin: 20px;
  padding: 10px 20px;
  color: var(--color-btn-txt);
  background-color: var(--color-btn-back);
  border: 1px solid var(--color-btn-back);
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.5s ease-in;
}

.btn:hover {
  background-color: var(--color-btn-back-hover);
}

input::placeholder {
  font-style: italic;
  transition: all 0.5s ease;
  color: var(--color-txt-lightgrey);
}

input:focus {
  border-color: var(--color-txt-focus);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

input:focus::placeholder {
  color: var(--color-txt-focus);
}

.message {
  margin: 30px 0;
  color: var(--color-txt);
}

.controls {
  display: flex;
  justify-content: center;
}

.controls-btn {
  min-width: 200px;
  margin: 20px;
}

.report {
  color: var(--color-txt-alt);
  font-size: 1.2rem;
}
