input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
}

.input-box {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.2rem;
  line-height: 150%;
  text-align: left;
}
